<body>
  <div class="container"*ngIf="offers">
    <br>
    <img class="image" src="../../assets/venta_fb.jpg" alt="Imagen de la oferta">
    <div class="text">
      <br>
      <h2>{{ offers[2]?.name }}</h2>
      <p>En Picture Kingdom, durante esta promoción especial, te ofrecemos la oportunidad de conseguir una entrada al cine al adquirir nuestros deliciosos paquetes de Popitas. ¿Quieres saber más sobre esta increíble oferta? ¡Aquí te lo contamos todo!</p>
      <ul>
        <li>Combo irresistible: Disfruta de la combinación perfecta de entretenimiento y sabores con nuestros paquetes de Popitas. Cada paquete contiene nuestras deliciosas palomitas de maíz, perfectas para acompañar tu experiencia cinematográfica.</li>
        <li>Entrada de regalo: Por cada paquete de Popitas que compres, recibirás una entrada al cine de regalo. No solo satisfarás tu antojo de snacks, sino que también tendrás la oportunidad de disfrutar de una película en la gran pantalla sin costo adicional.</li>
        <li>Amplia selección de películas: En Picture Kingdom, ofrecemos una amplia selección de películas de estreno y clásicos del cine. Con tu entrada de regalo, podrás elegir la película que desees ver y vivir una experiencia cinematográfica única.</li>
        <li>Calidad y comodidad: Nuestros cines están equipados con tecnología de última generación para brindarte una experiencia visual y sonora excepcional. Además, podrás disfrutar de asientos cómodos y un ambiente acogedor que te hará sentir como en casa.</li>
        <li>Disfruta en familia o con amigos: Esta promoción es ideal para disfrutar en compañía. Invita a tus seres queridos o a tus amigos a compartir un paquete de Popitas y una emocionante película en Picture Kingdom.</li>
        <li>Fecha límite: Esta promoción es por tiempo limitado, así que no pierdas la oportunidad de aprovecharla. Adquiere tus paquetes de Popitas y asegura tu entrada al cine cuanto antes.</li>
      </ul>
      <p>No dejes pasar la oportunidad de disfrutar de nuestras deliciosas Popitas y obtener una entrada al cine de regalo en Picture Kingdom. ¡Ven y vive momentos inolvidables en la gran pantalla mientras saboreas tus snacks favoritos!</p>
      <a class="button" [routerLink]="['/compraofertas', offers[2]?.id, offers[2]?.name, offers[2]?.image]">¡Compra ahora y vive momentos inolvidables en la gran pantalla!</a>
    </div>
</div>
</body>
