<div class="container">
  <div class="sidebar">
    <table class="left-table">
      <tr>
        <td>NOMBRE: <mark>{{ perfil.nombre }}</mark></td>
      </tr>
      <tr>
        <td>APELLIDOS: <mark>{{ perfil.apellido }}</mark></td>
      </tr>
      <tr>
        <td>CONTRASEÑA ANTIGÜA: <mark>{{ perfil.contrasenaantigua }}</mark></td>
      </tr>
      <tr>
        <td>CORREO ELECTRÓNICO: <mark>{{ perfil.email }}</mark></td>
      </tr>
      <tr>
        <td>TELÉFONO: <mark>{{ perfil.telefono }}</mark></td>
      </tr>
    </table>
    <button routerLink="/editarperfil">Editar Perfil</button>
    <button routerLink="/misentradas">Mis Entradas</button>
  </div>
</div>
