a {
  text-decoration: none; /* Elimina la decoración de enlace */
  color: inherit; /* Hereda el color del texto del padre */
  align-items: center; /* Centra verticalmente */
  justify-content: center; /* Centra horizontalmente */
}
body{
  background-color: white;
}

