<div class="container">
  <div *ngFor="let offer of offers">
    <ng-container *ngIf="offer.id === selectedOfferId">
      <div class="item-container">
        <div class="image-container">
          <img
            src="{{ offer.image }}"
            class="bd-placeholder-img card-img-top"
            alt="Imagen de ejemplo"
          />
        </div>
        <div class="content-container">
          <h2>{{ offer.name }}</h2>
          <h2 class="price">Precio: {{ offer.price }} €</h2>
          <div class="addNumber_cont">
            <button
              id="decrementar-btn"
              style="margin: 20%"
              class="button"
              (click)="decrementarNumero()"
            >
              -
            </button>
            <div class="input_cont">
              <h2 class="text-center text-bottom">{{ entrada.numero }}</h2>
            </div>
            <button
              id="incrementar-btn"
              class="button"
              style="margin: 20%"
              (click)="incrementarNumero()"
            >
              +
            </button>
          </div>
          <h2>{{ getTotalDeCompra() }} €</h2>
          <button class="button" (click)="abrirDialogo();buyOffer(offer)">Comprar</button>
        </div>
      </div>
    </ng-container>
  </div>
</div>
