.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
  margin-top: 50px;
  margin-bottom: 50px;
  justify-content: center; /* Agrega esta línea */
}
.seating-plan {
  padding-right: 10px;
  padding-left: 10px;
  margin-left: 10px;
}



.table-no-border {
  margin-bottom: 20px; /* Márgen inferior de la tabla */
}

.index-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
  margin-bottom: -50px;
}
.selected-seats {
  margin-left: 20px;
  margin-top: 0px;
  max-height: 150px; /* Establece una altura máxima para mostrar el desplazamiento */
  overflow-y: scroll; /* Utiliza scroll en lugar de auto */
}


.selected-seats-list ul {
  padding: 0;
  list-style: none;
  margin: 0;
}


.selected-seats li {
  margin-bottom: 5px;
}

.table-no-border {
  border-collapse: collapse;
  border: none;
}

.table-no-border td,
.table-no-border th {
  border: none;
  letter-spacing: 1px;
}

.spacer {
  width: 20px;
}

.seat {
  display: inline-block;
  border: none;
  width: 25px;
  height: 25px;
  margin: 0.8px;
  cursor: pointer;
  border-radius: 5px;
  position: relative;
}

.seat.occupied {
  cursor: not-allowed;
}

.seat:hover {
  opacity: 0.6;
}

.legend {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
  margin-top: -50px;
}

.legend span {
  font-size: 14px;
}

.text-center {
  text-align: center;
}

.pantallas-image {
  margin-top: -190px;
  margin-left: 40px;
  width: 100%;
  max-width: 1200px; /* Ajusta el tamaño máximo de la imagen según tus necesidades */
  margin-bottom: -90px; /* Ajusta el margen inferior según tus necesidades */
}


.boton {
  margin-top: -30px;
  margin-right: 20px;
}

.entrar {
  color: black;
  background-color: #f1be41;
  padding: 12px 22px; /* Ajusta los valores de padding según tus preferencias */
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s;
}

.entrar:hover {
  background-color: #c09935;
}
