.container {
  text-align: center;
}

table {
  margin: 0 auto;
}

th,
td {
  padding: 0.5rem;
  text-align: center;
  border: 1px solid #333;
}

th:first-child,
td:first-child {
  border-left: none;
}

th:last-child,
td:last-child {
  border-right: none;
}
.table-no-border {
  border-collapse: collapse;
  border: none;
}

.table-no-border td, .table-no-border th {
  border: none;
}

.spacer {
  width: 20px; /* Ajusta el ancho de la separación según tus necesidades */
}


.seat {
  display: inline-block;
  border: none;
  width: 25px;
  height: 25px;
  margin: 0.8px;
  cursor: pointer;
  border-radius: 5px;
  position: relative;
}

.seat.occupied {
  cursor: not-allowed;
}

.seat:hover {
  opacity: 0.6;
}

.legend {
  margin: 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.legend span {
  font-size: 14px;
}

.text-center {
  text-align: center;
}
