<h2>Selecciona tus asientos</h2>

<div class="legend">
  <div class="seat available"></div>
  <span>Disponible</span>
  <div class="seat occupied"></div>
  <span>Ocupado</span>
  <div class="seat selected"></div>
  <span>Seleccionado</span>
</div>

<table>
    <tbody>
      <tr *ngFor="let row of seats">
        <td>{{ row.name }}</td>
        <td *ngFor="let seat of row.seats"
          [ngClass]="{ 'seat': true, 'occupied': seat.occupied, 'selected': seat.selected }"
          (click)="toggleSeatSelection(seat)">
          {{ seat.name }}
        </td>
      </tr>
    </tbody>
  </table>

  <button (click)="reserveSeat()">Reservar</button>

  