.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
  margin-top: 50px; /* Márgen superior */
  margin-bottom: 50px;

   /* Márgen inferior */
}
.seating-plan {
  margin-right: 50px;
  margin-left:120px /* Márgen derecho de la tabla */
}

.table-no-border {
  margin-bottom: 20px; /* Márgen inferior de la tabla */
}

.index-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
  margin-bottom: -50px;
}

.selected-seats {
  margin-left: 100px;
  margin-top: 20px;
}

.selected-seats ul {
  padding: 0;
  list-style: none;
}

.selected-seats li {
  margin-bottom: 5px;
}

.table-no-border {
  border-collapse: collapse;
  border: none;
}

.table-no-border td,
.table-no-border th {
  border: none;
  letter-spacing: 1px; 
}

.spacer {
  width: 20px;
}

.seat {
  display: inline-block;
  border: none;
  width: 25px;
  height: 25px;
  margin: 0.8px;
  cursor: pointer;
  border-radius: 5px;
  position: relative;
}

.seat.occupied {
  cursor: not-allowed;
}

.seat:hover {
  opacity: 0.6;
}

.legend {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
  margin-top: -50px;
}

.legend span {
  font-size: 14px;
}

.text-center {
  text-align: center;
}
