body {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  background-color: #282c34;
  margin: 0;
  padding: 0;
}

.container {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  min-height: 500px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  width: 1009px;
  height: auto;
  padding: 20px;
  overflow-x: auto; /* Agregado para desplazamiento horizontal */
}
.left-table td mark {
  vertical-align: middle;
}

.left-table td .mat-icon {
  vertical-align: middle;
  margin-left: 5px; /* Puedes ajustar este valor según sea necesario */
}

.mat-icon {
margin-bottom: 1px;
  align-items: center;

}

.sidebar {
  margin-right: 20px;
}

.left-table td {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  white-space: nowrap;
  line-height: 2.5;
  width: 100%; /* Ajusta el ancho de la celda al tamaño del contenedor */
}


.left-table td {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  white-space: nowrap;
  line-height: 2.5; /* Ajusta este valor según tus preferencias */
}


.left-table td:first-child {
  font-weight: bold;
}

.left-table mark {
  background-color: #f1be41;
  color: white;
  padding: 2px 4px;
  border-radius: 2px;
}

.scrollable-content {
  overflow-x: auto; /* Agregado para desplazamiento horizontal */
  max-width: 100%; /* Agregado para ajustar al contenido */
}

.button-container {
  margin-top: auto;
  display: flex;
  padding-top: 20px; /* Agregado para espacio entre contenido y botón */
}

.back-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #f1be41;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.back-button:hover {
  background-color: #c09935;
}
