<div class="container">
  <div class="sidebar">
    <table class="left-table">
      <tr *ngFor="let entrada of mientrada">
        <td>NOMBRE: <mark>{{ entrada.nombrepeli }}</mark></td>
        <td>APELLIDOS: <mark>{{ entrada.fechapeli }}</mark></td>
        <td>CONTRASEÑA ANTIGUA: <mark>{{ entrada.asientospeli }}</mark></td>
        <td>CORREO ELECTRÓNICO: <mark>{{ entrada.salapeli }}</mark></td>
      </tr>
    </table>
    <button class="back-button" routerLink="/perfil">Atrás</button>
  </div>
</div>
