<div class="container">
    <div class="sidebar">
      <table class="left-table">
        <tr>
          <td>NOMBRE: <br><mark>{{ mientrada.nombrepeli }}</mark></td>
        </tr>
        <tr>
          <td>APELLIDOS: <br><mark>{{ mientrada.fechapeli }}</mark></td>
        </tr>
        <tr>
          <td>CONTRASEÑA ANTIGÜA: <br><mark>{{ mientrada.asientospeli }}</mark></td>
        </tr>
        <tr>
          <td> CORREO ELÉCTRONICO : <br><mark>{{ mientrada.salapeli }}</mark></td>
        </tr>
        <button routerLink="/perfil">Atras </button>
      </table>
    </div>