body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #282c34;
  margin: 0;
  padding: 0;
}

.container {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  width: auto;
  height: auto;
  padding: 20px;
}

.sidebar {
  margin-right: 20px;
}

.left-table {
  width: 100%;
  border-collapse: collapse;
}

.left-table td {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.left-table td:first-child {
  font-weight: bold;
}

.left-table mark {
  background-color: #f1be41;
  color: white;
  padding: 2px 4px;
  border-radius: 2px;
}

.back-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #f1be41;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.back-button:hover {
  background-color: #c09935;
}
