h1 {
    text-align: center;
  }
  .container img {
    display: grid;
    place-items: center;
    width: 300px; /* Ajusta el tamaño de la imagen según tus preferencias */
    height: auto; /* Mantiene la proporción de aspecto de la imagen */
  }
  
.table-container {
    display: flex;
  }
  
  .left-table {
    width: 20%;
  }
  
  .right-table {
    margin-left: 100px;
    width: 50%;
  }
  