<div class="container">
  <div class="top-left-container">
    <img [src]="pelicula.imagen" alt="Imagen" class="movie-image-small">
    <table class="left-table">
      <tr>
        <td>DURACION: <mark class="duracion">{{ pelicula.duracion }}</mark></td>
      </tr>
      <tr>
        <td>GENERO: <br><mark class="genero">{{ pelicula.genero }}</mark></td>
      </tr>
    </table>
  </div>
  <div class="top-right-container">
    <h1><strong>{{ pelicula.titulo }}</strong></h1>
    <table class="right-table-large">
      <tr>
        <td>DIRECTORES:<br><span class="directores">{{ pelicula.director }}</span></td>
      </tr>
      <tr>
        <td>REPARTO:<br><p class="reparto">{{ pelicula.reparto }}</p></td>
      </tr>
      <tr>
        <td>SINOPSIS:<br><p class="sinopsis">{{ pelicula.sinopsis }}</p></td>
      </tr>
    </table>
  </div>

</div>

<!-- Nuevo contenedor secundario -->
<div class="horarios-container">
  <div class="button-row">
    <div class="bottom-container">
      <div class="linea-cine">
        <h2>HORARIOS</h2>
      </div>
      <div class="dia-menu">
        <div class="dia-menu">
          <div class="dia-menu">
            <button *ngFor="let dia of dias">
              {{ dia.diaid }}
            </button>
          </div>
        </div>
      </div>
    </div>
    <button *ngFor="let hora of getHorariosPorDia()" [routerLink]="['/asientos']">
      {{ hora.hora_inicio }}
    </button>
  </div>
</div>
<table>
  <tr *ngFor="let elemento of dias">

    <td>{{elemento.diaid}}</td>
    
    <td>{{elemento.dia}}</td>
    
    </tr>
</table>

