.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 50px;
  margin-bottom: 50px;
}

.top-left-container {
  flex: 0 0 25%;
  padding-right: 20px;
}

.top-right-container {
  flex: 0 0 75%;
}

.bottom-container {
  width: 100%;
}

.movie-image-small {
  display: block;
  width: 80%;
  height: auto;
  margin-bottom: 20px;
}

.top-left-container p,
.top-right-container p {
  color: white;
  margin-bottom: 15px;
}

.top-left-container strong,
.top-right-container strong {
  color: white;
}

.left-table mark {
  color: #f1be41;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
  color: white;
}

.sinopsis,
.reparto,
.directores {
  color: white;
  margin-bottom: 20px;
}

.linea-cine {
  background-color: #f1be41;
  color: #000;
  text-align: center;
  padding: 10px 0;
  margin-bottom: 20px;
}

.linea-cine h2 {
  margin: 0;
  font-size: 24px;
  letter-spacing: 3px;
  font-weight: bold;
}

body {
  background-color: black;
  color: white;
}

.dia-menu {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.dia-menu button {
  padding: 10px 20px;
  font-size: 16px;
  border: 2px solid #ccc;
  background-color: #ccc;
  color: #333;
  cursor: pointer;
  flex-grow: 1;
  margin-bottom: 10px;
}

.dia-menu button.active {
  border-color: #f1be41;
  background-color: #f1be41;
  color: #000;
}

.button-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

.button-row button {
  padding: 10px 20px;
  font-size: 16px;
  border: 2px solid #ccc;
  background-color: #ccc;
  color: #333;
  cursor: pointer;
  flex-grow: 1;
  margin: 5px;
}

.button-row button:hover {
  border-color: #f1be41;
  background-color: #f1be41;
  color: #fff;
}
