<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Página con imagen y tabla</title>
  <link rel="sinopsis" href="styles.css">
</head>
<body>
  <h1>{{this.pelicula.titulo}}</h1>
  <div class="container">
    <img src="../../assets/mariocarrusel.jpg" alt="Imagen">
    <div class="table-container">
      <table class="left-table">
        <tr>
          <td>DURACION:</td>
          <td>{{this.pelicula.duracion}}</td>
        </tr>
        <tr>
          <td>GENERO:</td>
          <td>{{this.pelicula.genero}}</td>
        </tr>
        <tr>
          <td>FECHA DE ESTRENO:</td>
          <td>{{this.pelicula.anio}}</td>
        </tr>
      </table>
      <table class="right-table">
        <tr>
          <td>DIRECTORES:</td>
          <td>{{this.pelicula.director}}</td>
        </tr>
        <tr>
          <td>REPARTO:</td>
          <td>{{this.pelicula.reparto}}</td>
        </tr>
        <tr>
          <td>SINOPSIS:</td>
          <td>{{this.pelicula.sinopsis}}</td>
        </tr>
      </table>
    </div>
  </div>
</body>
</html>
