<div class="container">
  <div class="sidebar">
    <img [src]="pelicula.imagen" alt="Imagen" class="movie-image-small">
    <table class="left-table">
      <tr>
        <td>DURACION: <mark>{{ pelicula.duracion }}</mark></td>
      </tr>
      <tr>
        <td>GENERO: <br><mark>{{ pelicula.genero }}</mark></td>
      </tr>
      <tr>
        <td>FECHA DE ESTRENO: <br><mark>{{ pelicula.anio }}</mark></td>
      </tr>
    </table>
  </div>
  <div class="content">
    <h1><strong>{{ pelicula.titulo }}</strong></h1>
    <table class="right-table-large">
      <tr>
        <td>DIRECTORES:<br><span class="directores">{{ pelicula.director }}</span></td>
      </tr>
      <tr>
        <td>REPARTO:<br><span class="reparto">{{ pelicula.reparto }}</span></td>
      </tr>
      <tr>
        <td>SINOPSIS:<br><span class="sinopsis">{{ pelicula.sinopsis }}</span></td>
      </tr>
    </table>
  </div>
  <div class="dia-menu">
    <button *ngFor="let dia of diasPeliculas" (click)="cambiarDiaSeleccionado(dia)" [class.active]="diaSeleccionado === dia">
      {{ obtenerFechaActual(dia) }}
    </button>
  </div>
  <div class="button-row">
    <button *ngFor="let hora of getHorariosPorDia(diaSeleccionado)"
  [routerLink]="['/asientos']"
  (click)="ActualizarArray(hora)">
  {{ hora }}
</button>
  </div>
</div>
