h1 {
  text-align: center;
  margin-bottom: 50px;
}
li {
  list-style: none;
}
.container img {
  margin-right: -500%;
  margin: 0 auto;
  width: 17%;
  height: auto;
}
  
.table-container {
    display:flex;
  }
  
  .left-table {
    width: 18%;
  }
  
  .right-table {
    margin-left: 100px;
    width: 60%;
    margin-top: -300px;
    margin-bottom: 20px;
  }
  .left-table mark {
    background-color: rgb(249, 212, 64); /* Establece el color de fondo deseado para resaltar el texto */
    padding: 2px; /* Ajusta el relleno interno según tus preferencias */
  }

  .day-menu {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 80px;
  }
  .day-menu button {
    margin-right: 80px;
  }

  .button-row {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 100px;
  }
  .button-row button {
    margin-right: 80px; /* Agrega margen derecho de 10px entre los botones */
  }
  
  
  
  
  
  