.container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: transparent;
}

th,
td {
  padding: 10px;
  text-align: left;
  border: none;
}

td:nth-child(4) {
  max-width: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

td:nth-child(2) {
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-right: -40px;
}

td:nth-child(2) input[type="number"] {
  max-width: 70px;
}

td:nth-child(3) {
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-left: -10px;
}

th {
  background-color: transparent;
}

tr:nth-child(even) {
  background-color: transparent;
}

.input-cont input[type="number"] {
  width: 20%;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 14px;
  pointer-events: none;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.numero {
  display: flex;
  justify-content: center;
  align-items: center;
}

.addNumber_cont {
  display: flex;
  align-items: center;
}

.addNumber_cont button {
  width: 30px;
  height: 30px;
  padding: 0;
  border: none;
  background-color: transparent;
  font-size: 16px;
  cursor: pointer;
}

.addNumber_cont .input_cont {
  width: 50px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.addNumber_cont h1 {
  margin: 0;
  font-size: 20px;
}

span h1 {
  margin: 0;
  font-size: 24px;
}

tr:last-child {
  font-weight: bold;
}

tr:last-child td:first-child {
  text-align: left;
}

tr:last-child td.total-value {
  text-align: right;
}

tr:last-child h1 {
  font-size: 28px;
  margin: 0;
}


.total-text {
  text-align: left;
}

.total-value {
  text-align: right;
}

.dia-menu button {
  padding: 10px 20px;
  font-size: 16px;
  border: 2px solid #ccc;
  background-color: #ccc;
  color: #333;
  cursor: pointer;
  flex-grow: 1;
  margin-bottom: 10px;
}

.dia-menu button.active {
  border-color: #f1be41;
  background-color: #f1be41;
  color: #fff;
}
