.container {
  width: 100%;
  max-width: 800px; /* Se ha aumentado el ancho máximo */
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

.input-cont {
  position: relative;
}

.input-cont input[type="number"] {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.numero{
  display: flex;
  justify-content: center;
  align-items: center;
}

.addNumber_cont {
  display: flex;
  align-items: center;
}

.addNumber_cont button {
  width: 30px;
  height: 30px;
  padding: 0;
  border: none;
  background-color: #f2f2f2;
  font-size: 16px;
  cursor: pointer;
}

.addNumber_cont .input_cont {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}

.addNumber_cont h1 {
  margin: 0;
  font-size: 20px;
}

span h1 {
  margin: 0;
  font-size: 24px;
}

tr:last-child {
  font-weight: bold;
}

tr:last-child td:first-child {
  text-align: right;
}

tr:last-child h1 {
  font-size: 28px;
  margin: 0;
}
