* {
  margin: 0;
  padding: 0;
  background-color: #ffffff00;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1,
p,
th,
td,
.entrada,
.precio,
.center,
.addNumber_cont,
.decrease-btn,
.increase-btn,
.value_cont,
.numero,
.total,
.input-cont {
  background-color: #ffffff00;
}

/* Rest of the CSS code */
.input-cont {
  position: relative;
  width: fit-content; /* Adjust the width based on content */
}

.input-cont input {
  width: 80px; /* Set the desired width */
  height: 100%;
  padding: 0;
  border: none; /* Remove borders */
  outline: none;
  background-color: transparent;
  pointer-events: none; /* Make it non-clickable */
}


h1 {
  color: #000000;
  font-size: 18px;
  margin-top: 15px;

}

p {
  color: #000000;
  font-size: 18px;
  margin-bottom: 20px;
}

table {
  background-color: transparent;
  border-collapse: collapse;
  margin-bottom: 20px;
  border: none;
  margin: 20px;
}

th {
  background-color: transparent;
  color: #000000;
  padding: 10px;
}

td {
  background-color: transparent;
  padding: 10px;
  border: none;
}

.entrada {
  background-color: transparent;
  font-weight: bold;
}

.precio {
  background-color: transparent;
  width: 70px;
}

.center {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.addNumber_cont {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.decrease-btn,
.increase-btn {
  background-color: transparent;
  width: 30px;
  height: 40px;
  border: none;
  margin: 10%;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
}

.decrease-btn:hover,
.increase-btn:hover {
  background-color: transparent;
  margin: 10%;
}

.value_cont {
  width: 60px;
  height: 60px;
  margin: 10px;
  border-radius: 5px;
  background-color: transparent;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.numero {
  font-size: 28px;
}

.total {
  font-weight: bold;
  font-size: 20px;
}

.input_cont {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  text-align: center;
}



.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  margin: 20px;
}
