<body>
  <div class="container">
    <form class="login-form" >
      <h2>Inicia Sesión</h2>
      <mat-form-field appearance="outline" class="input-field">
        <mat-label>CORREO</mat-label>
        <input matInput [(ngModel)]="usuario" name="username">
      </mat-form-field>
      <mat-form-field appearance="outline" class="input-field">
        <mat-label>CONTRASEÑA</mat-label>
        <input matInput [(ngModel)]="pass" name="password" type="password">
      </mat-form-field>
      <div *ngIf="usuarioNoEncontrado" class="registro-error">El usuario o la contraseña no coincide.</div>
      <button class="registro-link" entrar mat-raised-button (click)="login()">ENTRAR</button>
      <p class="registro-link" [routerLink]="['/registro']">REGISTRARSE</p>
    </form>
  </div>
</body>
