.container {
  display: flex;
  align-items: flex-start;
  position: relative;
  text-align: left;
}

.container img {
  margin: 120px 100px 10px 150px;
  width: 15%;
  height: auto;
}

.container table {
  margin-top: 110px;
}

.container table tr {
  margin-bottom: 10px;
}

input[type="text"] {
  width: 100%;
  padding: 5px;
  border-top-style: solid;
  border-radius:15px;
  border-bottom: none;
  margin-top: 10px;
}

button[type="submit"] {
  padding: 8px 16px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin: 9px;
  margin-left: 680px;
  margin-bottom: 100px;
}

button[type="submit"]:hover {
  background-color: #45a049;
}
