.container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  text-align: left;
  border: 2px solid #f1be41;
  background-color: rgb(255, 255, 255);
  margin: 20px auto;
  width: 70%;
  height: auto;
  box-sizing: border-box;

  border-radius: 10px; /* Agrega bordes redondos */
  box-shadow: 0 0 6px #f1be41; /* Agrega una sombra dorada de 6px */
}
.container img {
  margin: 100px 100px 10px 150px;
  width: 20%;
  height: auto;
}

.container table {
  margin-top: 90px;
}

.container table tr {
  margin-bottom: 10px;
}

input[type="text"] {
  width: 100%;
  padding: 5px;
  border-top-style: solid;
  border-radius: 15px;
  border-bottom: none;
  margin-top: 10px;
  border: 2px solid #f1be41;
}

button[type="submit"] {
  padding: 8px 16px;
  background-color: #f1be41;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin: 9px;
  margin-left: 0;
  margin-bottom: 20px;
}

button[type="submit"]:hover {
  background-color: #e3b43d;
}

.container table tr:last-child td {
  margin-top: 30px; /* Margen superior adicional para el último td */
}
