.container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  text-align: left;
  border: 2px solid #f1be41;
  background-color: rgb(255, 255, 255);
  margin: 20px auto;
  width: 70%;
  height: auto;
  box-sizing: border-box;
  border-radius: 10px; /* Agrega bordes redondos */
  box-shadow: 0 0 6px #f1be41; /* Agrega una sombra dorada de 6px */
}

.container img {
  margin: 40px 90px 10px 0; /* Agrega margen a la derecha de 5px */
  width: 20%;
  height: auto;
}

.container table {
  margin-top: 30px; /* Ajusta el margen superior de la tabla */
}

.container table tr {
  margin-bottom: 10px;
}

input[type="text"] {
  width: 100%;
  padding: 5px;
  border-top-style: solid;
  border-radius: 15px;
  border-bottom: none;
  margin-top: 10px;
  margin-left: 5px; /* Agrega margen a la izquierda de 5px */
  border: 2px solid #f1be41;
}

button[type="submit"] {
  padding: 8px 16px;
  background-color: #f1be41;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin: 20px 0; /* Ajusta el margen superior e inferior del botón */
}

button[type="submit"]:hover {
  background-color: #e3b43d;
}

.container table tr:last-child td {
  margin-top: 30px; /* Margen superior adicional para el último td */
}
