<div class="container">
  <img [src]="editarfoto" alt="Imagen" (click)="openDialog()">
  <div>
    <table>
      <tr>
        <th style="color:black;">Nombre</th>
        <td>
          <input type="text" id="nombre" name="nombre" [(ngModel)]="user.nombre">
        </td>
      </tr>
      <tr>
        <th style="color:black;">Contraseña Nueva</th>
        <td>
          <input type="text" id="contrasenanueva" name="contrasenanueva" [(ngModel)]="user.pass">
        </td>
      </tr>
      <tr>
        <th style="color:black;">Email</th>
        <td>
          <input type="text" id="email" name="email" [(ngModel)]="user.correo_electronico">
        </td>
      </tr>
      <tr>
        <td colspan="2" style="text-align: center;">
          <button type="submit" (click)="guardar()">Guardar Cambios</button>
        </td>
      </tr>
    </table>
  </div>
</div>
