<app-asientos></app-asientos>
<mat-toolbar color="black">
  <button mat-icon-button (click)="sidenav.toggle()" class="example-icon mat-icon-no-color" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span style="color: white; font-family: serif;">Picture Kingdom</span>
  <span class="example-spacer"></span>
  <span >
    <img src="../assets/Picture_Kingdom.jpg" alt="Picture Kingdom Logo"  style="max-height: 80px; max-width: 100%">
  </span>
  <span class="example-spacer"></span>
</mat-toolbar>



<mat-sidenav-container >
  <mat-sidenav #sidenav class="sidenav">
    <mat-nav-list>
      <a mat-list-item *ngFor="let menuItem of menuItems" [routerLink]="menuItem.route">{{ menuItem.name }}</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

<footer class="footer alaign:botto">
  <div class="footer-container">
    <mat-toolbar>
      <span class="footer-name">Picture Kingdom</span>
      <span class="footer-spacer"></span>
      <a mat-button href="https://www.instagram.com/picturekingdomofficial/" target="_blank">
        <mat-icon>instagram</mat-icon>
        Síguenos en Instagram
      </a>
      <a mat-button href="https://twitter.com/picturekingdom" target="_blank">
        <mat-icon>twitter</mat-icon>
        Síguenos en Twitter
      </a>
    </mat-toolbar>
    <div class="footer-contact">
      <a href="mailto:info@picturekingdom.com">
        <mat-icon>email</mat-icon>
        info@picturekingdom.com
      </a>
      <a href="tel:+15551234567">
        <mat-icon>phone</mat-icon>
        +1 (555) 123-4567
      </a>
    </div>
  </div>
</footer>

