<router-outlet></router-outlet>
<br><br><br><br><br>
<h1>TOP OFERTAS DE LA SEMANA</h1>
<br>
<div class="card-row">
  <div class="card card-left">
    <img src="../../assets/venta_fb.jpg" alt="Imagen 1" />
    <h3>Título 1</h3>
    <p>Texto de la carta 1.</p>
    <button>Botón 1</button>
  </div>
  <div class="card card-center">
    <img src="../../assets/banner-promo-1.jpg" alt="Imagen 2" />
    <h3>Título 2</h3>
    <p>Texto de la carta 2.</p>
    <button>Botón 2</button>
  </div>
  <div class="card card-right">
    <img src="../../assets/BANNER-PDF-ENTRADA-BLACK-FRIDAY.jpg" alt="Imagen 3" />
    <h3>Título 3</h3>
    <p>Texto de la carta 3.</p>
    <button>Botón 3</button>
  </div>
</div>
