<router-outlet></router-outlet> <br /><br /><br /><br /><br />
<h1>TOP OFERTAS DE LA SEMANA</h1>
<br/>
<div class="card-deck">
  <div class="card">
    <img class="card-img-top" src="../../assets/BANNER-PDF-ENTRADA-BLACK-FRIDAY.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Promoción especial de Black Friday</h5>
      <p class="card-text">¡No te pierdas nuestras ofertas exclusivas para el Black Friday en PICTURE KINGDOM! Ven y descubre descuentos increíbles en toda la tienda.</p>
    </div>
    <div class="card-footer">
      <a href="promocion1" class="btn btn-primary">Visita nuestra oferta</a>
 </div>

  <div class="card">
    <img class="card-img-top" src="../../assets/bannner-promo1.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Descuento especial en productos electrónicos</h5>
      <p class="card-text">Aprovecha nuestra promoción exclusiva en productos electrónicos. Ahorra en smartphones, laptops, y mucho más. ¡No te lo pierdas!</p>
    </div>
    <div class="card-footer">
      <a href="cartelera" class="btn btn-primary">Descubre más</a>
    </div>
  </div>

  <div class="card">
    <img class="card-img-top" src="../../assets/venta_fb.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Gran liquidación de temporada</h5>
      <p class="card-text">No te pierdas nuestra gran liquidación de temporada con descuentos de hasta un 70%. Encuentra las mejores ofertas en moda, calzado y accesorios.</p>
    </div>
    <div class="card-footer">
      <a href="cartelera" class="btn btn-primary">Ver ofertas</a>
    </div>
  </div>
</div>
