body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Establece el alto del cuerpo al 100% del viewport */
  background-color: black;
}


.card-deck {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Centra horizontalmente las tarjetas */
  align-items: center; /* Centra verticalmente las tarjetas */
  max-width: 1200px; /* Establece un ancho máximo para el contenedor de tarjetas */
  margin: 0 auto; /* Centra el contenedor de tarjetas dentro del cuerpo */
}

.card {
  flex: 0 0 calc(30% - 20px);
  margin: 0 15px 30px;
  transform: scale(0.9);
  transition: transform 0.3s ease-in-out;
  position: relative;
  background-color: black; /* Fondo negro */
  color: white; /* Texto en blanco */
  box-shadow: 0 0 6px #f1be41; /* Sombra alrededor de la carta */
}


@media (max-width: 768px) {
  .card {
    flex: 0 0 calc(50% - 20px); /* Ajusta el ancho de las cartas a 50% en pantallas más pequeñas */
    margin: 0 10px 20px; /* Ajusta el margen inferior y lateral de las cartas en pantallas más pequeñas */
  }
}



.card:hover {
  transform: scale(0.9) translateY(-10px);
}

.card-img-top {
  max-width: 100%;
  width: 100%;
  height: auto;
  object-fit: contain;
  border: 1px solid #f1be41; /* Borde de 1px de color #f1be41 */
}

.card-footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-footer .btn {
  text-align: center;
  background-color: #f1be41;
  transition: background-color 0.3s ease-in-out;
  border: 1px solid black; /* Agrega un borde de 2px sólido de color negro */
}

.card-footer .btn:hover {
  background-color: #ffb500;
}


h1 {
  font-family: serif;
  color:#f1be41;
  font-size: 1.8em;
  text-align: center;
  text-transform: uppercase;
  position: relative;
}

h1::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 100px;
  height: 3px;
  background-color:#f1be41;
  transform: translateX(-50%);
}

h1::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #f1be41;
  transform: translate(-50%, 50%);
  box-shadow: 0 0 20px #f1be41;
}

@media (max-width: 768px) {
  .card-img-top {
    max-width: 100%;
    width: 100%;
    height: auto;
  }
}
