<body>
  <div class="container"*ngIf="offers">
    <br>
    <img class="image" src="../../assets/bannner-promo1.jpg" alt="Imagen de la oferta">
    <div class="text">
      <br>
      <h2>{{ offers[1]?.name }}</h2>
      <p>¡Prepárate para vivir la experiencia cinematográfica exclusiva en Picture Kingdom como miembro del Reino VIP! ¿Quieres saber por qué unirte a nuestro programa VIP es la mejor opción para los amantes del cine? Aquí te lo contamos:</p>
      <ul>
        <li>Beneficios inigualables: Como miembro del Reino VIP, disfrutarás de ventajas exclusivas durante todo el año. Accede a descuentos especiales en entradas, combos de snacks y bebidas, y mucho más. ¡Disfruta de tus películas favoritas con privilegios únicos!</li>
        <li>Selección premium de películas: En el Reino VIP de Picture Kingdom, tendrás acceso a una selección premium de películas, incluyendo estrenos anticipados y proyecciones especiales. Vive la emoción del cine de alta calidad con opciones seleccionadas especialmente para ti.</li>
        <li>Experiencia VIP inigualable: Nos enorgullece ofrecer una experiencia VIP incomparable. Disfruta de nuestras exclusivas salas de cine VIP, equipadas con asientos de lujo y comodidades adicionales. Sumérgete en un ambiente sofisticado y disfruta del cine como nunca antes.</li>
        <li>Atención personalizada: En Picture Kingdom, valoramos a nuestros miembros VIP. Recibirás un trato especial con atención personalizada en todas tus visitas. Nuestro equipo estará a tu disposición para asegurarse de que tengas una experiencia memorable en cada ocasión.</li>
        <li>Eventos y proyecciones exclusivas: Como miembro del Reino VIP, tendrás acceso a eventos y proyecciones exclusivas. Sé parte de funciones privadas, estrenos de cine y experiencias únicas que solo están disponibles para nuestros selectos miembros.</li>
        <li>Comodidades adicionales: Además de la proyección de películas, el Reino VIP de Picture Kingdom ofrece comodidades adicionales. Disfruta de servicios de bar exclusivos, posibilidad de reservar tus asientos preferidos con anticipación y acceso a áreas especiales diseñadas para tu máximo confort.</li>
      </ul>
      <p>No te pierdas la oportunidad de unirte al Reino VIP de Picture Kingdom y experimentar el cine de una manera extraordinaria. ¡Únete a nosotros y forma parte de una comunidad selecta de amantes del séptimo arte!</p>
      <a class="button" [routerLink]="['/compraofertas', offers[1]?.id, offers[1]?.name, offers[1]?.image]">¡Compra ahora y vive momentos inolvidables en la gran pantalla!</a>
    </div>
  </div>
</body>
