<app-menu-compras></app-menu-compras>
<router-outlet></router-outlet>

<h1>INTRODUCE TUS DATOS BANCARIOS</h1>

<div class="container">
  <form (ngSubmit)="submitForm()" [formGroup]="form" class="payment-form">
    <div class="form-group">
      <label for="inputCardNumber">Número de tarjeta</label>
      <input type="text" class="form-control" id="inputCardNumber" formControlName="cardNumber" placeholder="Número de tarjeta" (input)="formatCardNumber()" required maxlength="19">
    </div>
    <div class="form-group">
      <label for="inputExpirationMonth" >Fecha de caducidad</label>
      <div class="expiration-inputs">
        <select class="form-control small-input" formControlName="expirationMonth" required>
          <option value="">Mes</option>
          <option *ngFor="let month of months" [value]="month">{{ month }}</option>
        </select>

        <select class="form-control small-input" formControlName="expirationYear" required>
          <option value="">Año</option>
          <option *ngFor="let year of years" [value]="year">{{ year }}</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label for="inputCVV">CVV</label>
      <div class="cvv-input-wrapper">
        <input type="{{ showCVV ? 'text' : 'password' }}" class="form-control" id="inputCVV" formControlName="cvv" placeholder="CVV" minlength="3" maxlength="3" required>
        <button mat-icon-button class="cvv-toggle-button" (mousedown)="showCVV = true" (mouseup)="showCVV = false" (mouseleave)="showCVV = false">
          <mat-icon>{{ showCVV ? 'visibility' : 'visibility_off' }}</mat-icon>
        </button>
      </div>
    </div>
    <button type="submit" [disabled]="form.invalid">Enviar</button>
  </form>
</div>
