/* You can add global styles to this file, and also import other style files */

html,
body {
  width: 100%;
}
body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: grey;
}
.footer {
  background-color: #012e91;
  color: #fff;
  margin-top: 0, 5rem;
  width: 100%;
}

.full-height {
  width: 120%;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-name {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.footer-spacer {
  flex-grow: 1;
}
.mat-icon {
  margin-right: 0.5rem;
}
.footer-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1.5rem;
}
.footer-contact a {
  display: flex;
  align-items: center;
}
