
<body>
  <div >
    <div class="hero ">
      <div id="carouselExampleFade" class="carousel slide carousel-fade text-center" data-bs-ride="carousel" width="2000" height="2500" >
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="../../assets/ASEDIO.jpg" class="d-block mx-auto w-100"  alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../assets/spidermanarriba.jpg " class="d-block mx-auto w-100"  alt="...">    </div>
          <div class="carousel-item">
            <img src="../../assets/vacaciones.jpg" class="d-block mx-auto w-100"alt="...">    </div>
            <div class="carousel-item">
              <img src="../../assets/f&f.jpg" class="d-block mx-auto w-100"  alt="...">    </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Anterior</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Siguiente</span>
        </button>
      </div>
    </div>
  </div>

  <br><br><br><br><br>
  <h1>TOP PELÍCULAS SEMANAL</h1>
  <br>
  <div class="content-all">
    <div class="content-carrousel">
        <figure><img src=""></figure>
        <figure><img src="../../assets/mariocarrusel.jpg" width="100%" height="100%"></figure>
        <figure><img src="../../assets/vayavacacionescarrusel.jpg" width="100%" height="100%"></figure>
        <figure><img src="../../assets/loveagaincarrusel.jpg" width="100%" height="100%"></figure>
        <figure><img src="../../assets/65carrusel.jpg" width="100%" height="100%"></figure>
        <figure><img src="../../assets/asediocarrusel.jpg" width="100%" height="100%"></figure>
        <figure><img src="../../assets/guardianes carrusel.jpg" width="100%" height="100%"></figure>
        <figure><img src="../../assets/spiderman.jpg" width="100%" height="100%"></figure>
        <figure><img src="../../assets/sirenitacarrusel.jpg" width="100%" height="100%"></figure>
        <figure><img src="../../assets/f&fcarrusel.jpg" width="100%" height="100%"></figure>


    </div>
</div>

<br><br><br><br><br><br><br>
<br><br><br><br><br><br><br>

<br><br><br><br><br><br><br>

<app-ofertas-especiales></app-ofertas-especiales>


<br><br><br><br><br><br><br>
<br><br><br><br><br><br><br>
<br><br><br><br><br><br><br>

</body>
