body {
  background-color: #000000;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

}

.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  margin: 20px;
  max-width: 100%;
  width: calc(100% - 40px);
  max-height: 100%;
  height: calc(100% - 40px);
  overflow: auto;
  border-radius: 10px; /* Agrega bordes redondos */
  box-shadow: 0 0 6px #f1be41; /* Agrega una sombra dorada de 6px */
}

.image {
  max-width: 300px;
  margin-top: 30px;
  margin-right: 10px;
  border-radius: 8px;
}

.text {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h2 {
  color: #333;
  font-size: 28px;
  margin-top: 0;
  margin-bottom: 10px;
}

p {
  color: #777;
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 1.4;
}

ul {
  margin-top: 0;
  margin-bottom: 20px;
  padding-left: 20px;
}

li {
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 1.4;
}

.button {
  color: white;
  background-color: #f1be41;
  padding: 12px 22px; /* Ajusta los valores de padding según tus preferencias */
  border-radius: 5px;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-bottom: 10px;
}

.button:hover {
  background-color: #c09935;
}
