<body>
  <div class="container">
    <br>
    <img class="image" src="../../assets/BANNER-PDF-ENTRADA-BLACK-FRIDAY.jpg" alt="Imagen de la oferta">
    <div class="text">
      <br>
      <h2>¡BLACK FRIDAY EN PICTURE KINGDOM!</h2>
      <p>¡Prepárate para vivir la experiencia cinematográfica definitiva en Picture Kingdom durante el Black Friday! ¿Quieres saber por qué somos el destino perfecto para los amantes del cine en este día de descuentos imperdibles? Aquí te lo contamos:</p>
      <ul>
        <li>¡Ofertas inigualables! En Picture Kingdom, durante el Black Friday, te ofrecemos descuentos exclusivos en nuestras entradas y combos de palomitas y refrescos. ¡Disfruta de tus películas favoritas a precios increíbles!</li>
        <li>Amplia selección de películas: Ya sea que busques acción, comedia, drama o aventura, en Picture Kingdom encontrarás una amplia selección de películas de estreno y clásicos del cine. ¡Tenemos algo para todos los gustos!</li>
        <li>Calidad de imagen y sonido incomparables: En Picture Kingdom, nos enorgullece ofrecer una calidad de imagen y sonido de primera clase. Nuestras salas de cine están equipadas con la última tecnología audiovisual, brindándote una experiencia envolvente que te sumerge por completo en la película.</li>
        <li>Ambiente acogedor y cómodo: Nuestras salas están diseñadas para ofrecerte el máximo confort durante tu visita. Asientos espaciosos y cómodos, climatización adecuada y un ambiente acogedor hacen que disfrutes de tus películas favoritas de principio a fin.</li>
        <li>Variedad de horarios: En Picture Kingdom, entendemos que tus horarios pueden ser ajustados durante el Black Friday. Por eso, ofrecemos proyecciones a lo largo de todo el día, para que elijas el momento que mejor se adapte a ti.</li>
        <li>Comodidades adicionales: Además de la proyección de películas, Picture Kingdom cuenta con servicios adicionales que mejorarán tu experiencia. Desde nuestra amplia selección de snacks y bebidas en el bar, hasta la posibilidad de reservar tus asientos con anticipación, nos aseguramos de que tengas todo lo que necesitas para disfrutar al máximo.</li>
      </ul>
      <a class="button" >¡Compra ahora y vive momentos inolvidables en la gran pantalla!</a>
    </div>
  </div>

  <router-outlet></router-outlet>
</body>
