<body>
  <div class="container">
    <form class="login-form">
      <input type="text" id="nombre" placeholder="Nombre" class="large-input">

      <input type="email" id="email" placeholder="Correo electrónico" class="large-input">

      <input type="password" id="password" placeholder="Contraseña" class="large-input">

      <input type="password" id="confirm-password" placeholder="Confirmar contraseña" class="large-input">

      <button type="submit" class="submit-button">Registrarse</button>
    </form>
  </div>
</body>
